<h2>Plays</h2> &nbsp; <a routerLink = "/plays/new" class = "btn btn-success">Nueva Obra</a>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor = "let play of plays; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ play.code }}</td>
                <td>{{ play.name }}</td>
                <td *ngIf = "play.type">{{ play.type.name }}</td> 
                <td>
                    <a routerLink="/plays/{{play.code}}">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a (click)="remove(play.id)">
                        <i class="fa-solid fa-remove"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--
*ngIf = "play.type" o play.type?.type (navegacion segura)
    Angular puede renderizar antes de que los datos estén completamente disponibles.
    Evita errores cuando alguna propiedad es undefined momentáneamente.
    Sin esto un dato momentaneamente undefined detiene la renderizacion.
    NOTA: esto no funciono y hubo q agregar el objeto ChangeDetectorRef.
-->