<div *ngIf="play">
    <h2>{{ play.name | uppercase }}</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label for="code">Codigo:</label>
            <input name="code" placeholder="Codigo" class="form-control" [(ngModel)]="play.code">    
        </div>                
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input name="name" placeholder="Nombre" class="form-control" [(ngModel)]="play.name" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors?.['required']">
                    El nombre de la obra es obligatorio
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label for="type">Tipo:</label>
            <select name="type"
                placeholder="Tipo"
                class="form-control"
                [(ngModel)]="play.type.id"
            >
                <option *ngFor = "let type of playTypes" [ngValue] = "type.id">{{ type.name }}</option>
            </select>    
        </div>
        <button class="btn btn-danger" (click)="goBack()">
            Cancelar
        </button>
        <button class="btn btn-success" (click)="save()" [disabled]="form.invalid">
            Guardar
        </button> 
    </form>    
</div>